<div class="container position-relative width-100vw height-100vh">
  <div class="d-flex align-items-center position-absolute start-50 top-40 translate-middle height-50vh back-white rounded">
    <div class="container text-center width-50 ms-2">
      <p class="h1 mb-0">O-TechHub</p>
      <p>オーテックハブ</p>
      <p>オリエンテーリング技術記事投稿サイト</p>
    </div>
    <div class="container width-50 mx-auto me-2">
      <%= form_with scope: :session, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <table class="d-flex justify-content-center form-table my-4">
        <tbody>
          <tr>
            <td><%= f.text_field :first_name, placeholder: "姓" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :email, placeholder: "メールアドレス" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :password, placeholder: "パスワード" %></td>
          </tr>
        </tbody>
      </table>
      <table class="d-flex justify-content-center form-table my-4">
        <tbody>
          <tr class="text-end">
            <td><%= f.submit 'ログインする', class: "btn btn-dark" %></td>
          </tr>
          <tr class="text-end">
            <td><%= link_to 'アカウント作成はこちら', new_user_path, class: "btn btn-outline-dark btn-sm mt-2" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>