<div class="comment">
  <div class="container">
    <%= comment.content %>
    <% if current_user&.commenter_or_not?(comment) %>
      <%= comment.user.first_name %>
    <% else %>
      <%= link_to comment.user.first_name, user_path(comment.user_id) %>
    <% end %>
    <%= comment.created_at.year %>/<%= comment.created_at.month %>/<%= comment.created_at.day %>
    <% if current_user&.commenter_or_not?(comment) %>
      <%= link_to '削除', article_comment_path(article, comment), method: :delete, class: "btn btn-outline-primary btn-no-border btn-sm"%>
    <% end %>
    </div>
</div>