<h3 class="my-4">技術記事一覧</h3>

<div class="container d-flex px-0">
  <div class="container w-auto px-0">
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to("全記事表示", articles_path, method: :get, class: "btn btn-outline-info", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.mind')+"記事のみ表示", { controller: :articles, action: :index }, params: { category: 'mind' }, method: :get, class: "btn btn-outline-info", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.technic')+"記事のみ表示", { controller: :articles, action: :index }, params: { category: 'technic' }, method: :get, class: "btn btn-outline-info tech_btn", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div id='tech_category_btn_group'>
      <div class='my-2 d-flex justify-content-end'>
        <%= button_to(t('enums.article.tech_category.contaring')+"記事のみ表示", { controller: :articles, action: :index }, params: { tech_category: 'contaring' }, method: :get, class: "btn btn-outline-info btn-sm", data: { disable_with: 'ナビゲーション中' }) %>
      </div>
      <div class='my-2 d-flex justify-content-end'>
        <%= button_to(t('enums.article.tech_category.go_straight')+"記事のみ表示", { controller: :articles, action: :index }, params: { tech_category: 'go_straight' }, method: :get, class: "btn btn-outline-info btn-sm", data: { disable_with: 'ナビゲーション中' }) %>
      </div>
      <div class='my-2 d-flex justify-content-end'>
        <%= button_to(t('enums.article.tech_category.take_a_direction')+"記事のみ表示", { controller: :articles, action: :index }, params: { tech_category: 'take_a_direction' }, method: :get, class: "btn btn-outline-info btn-sm", data: { disable_with: 'ナビゲーション中' }) %>
      </div>
    </div>
    <div class='my-2 d-flex justify-content-end d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.physical')+"記事のみ表示", { controller: :articles, action: :index }, params: { category: 'physical' }, method: :get, class: "btn btn-outline-info", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.strategy')+"記事のみ表示", { controller: :articles, action: :index }, params: { category: 'strategy' }, method: :get, class: "btn btn-outline-info", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.theory')+"記事のみ表示", { controller: :articles, action: :index }, params: { category: 'theory' }, method: :get, class: "btn btn-outline-info", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
  </div>

  <div class="container mx-4">
    <table class='table'>
      <% @articles.each do |article|%>
        <tr>
          <td><%= article.title.truncate(20) %></td>

          <% if current_user&.author_or_not?(article) %>
            <td><%= article.user.first_name %></td>
          <% else %>
            <td><%= link_to article.user.first_name, user_path(article.user_id) %></td>
          <% end %>

          <td><%= article.content.truncate(30) %></td>
          <td><%= article.category_i18n %></td>
          <td><%= link_to '詳細', article %></td>
          
        </tr>
      <% end %>
    </table>

    <%= paginate @articles %>
  </div>
</div>
