<div class="container d-flex px-0">
  <div class="container w-nav px-0">
    <h3 class="mb-4 d-flex justify-content-end">技術記事</h3>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to("全表示", articles_path, method: :get, class: "btn btn-outline-dark btn-no-border", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end border-right border-red'>
      <%= button_to(t('enums.article.category.mind')+"", { controller: :articles, action: :index }, params: { category: 'mind' }, method: :get, class: "btn btn-outline-dark btn-no-border border-warning", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end border-right border-green'>
      <%= button_to(t('enums.article.category.technic')+"", { controller: :articles, action: :index }, params: { category: 'technic' }, method: :get, class: "btn btn-outline-dark btn-no-border tech_btn border-success", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div id='tech_category_btn_group'>
      <div class='my-2 d-flex justify-content-end'>
        <%= button_to(t('enums.article.tech_category.contaring')+"", { controller: :articles, action: :index }, params: { tech_category: 'contaring' }, method: :get, class: "btn btn-outline-dark btn-no-border btn-sm", data: { disable_with: 'ナビゲーション中' }) %>
      </div>
      <div class='my-2 d-flex justify-content-end'>
        <%= button_to(t('enums.article.tech_category.go_straight')+"", { controller: :articles, action: :index }, params: { tech_category: 'go_straight' }, method: :get, class: "btn btn-outline-dark btn-no-border btn-sm", data: { disable_with: 'ナビゲーション中' }) %>
      </div>
      <div class='my-2 d-flex justify-content-end'>
        <%= button_to(t('enums.article.tech_category.take_a_direction')+"", { controller: :articles, action: :index }, params: { tech_category: 'take_a_direction' }, method: :get, class: "btn btn-outline-dark btn-no-border btn-sm", data: { disable_with: 'ナビゲーション中' }) %>
      </div>
    </div>
    <div class='my-2 d-flex justify-content-end d-flex justify-content-end border-right border-blue'>
      <%= button_to(t('enums.article.category.physical')+"", { controller: :articles, action: :index }, params: { category: 'physical' }, method: :get, class: "btn btn-outline-dark btn-no-border border-primary", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.strategy')+"", { controller: :articles, action: :index }, params: { category: 'strategy' }, method: :get, class: "btn btn-outline-dark btn-no-border", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
    <div class='my-2 d-flex justify-content-end'>
      <%= button_to(t('enums.article.category.theory')+"", { controller: :articles, action: :index }, params: { category: 'theory' }, method: :get, class: "btn btn-outline-dark btn-no-border", data: { disable_with: 'ナビゲーション中' }) %>
    </div>
  </div>

  <div class="container mx-4">
    <div class="container d-flex">
      <div>
        <p class="pan" id="pan"><%= @category %></p>
      </div>
      <div class="ms-4">
        <span><%= paginate @articles %></span>
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <% @articles.each do |article|%>
        <div class="container mx-2 my-2 py-3 px-4 shadow article-box border-right <%=article.foo_color %>">
          <p><%= "#{article.created_at.year}/#{article.created_at.month}/#{article.created_at.day}"%></p>
          <h5><%= article.title.truncate(20) %></h5>
          <p><%= article.content.truncate(42) %></p>
          <p>
            <% if current_user&.author_or_not?(article) %>
              <%= article.user.first_name %>
            <% else %>
              <%= link_to article.user.first_name, user_path(article.user_id), class: "text-dark text-decoration-none" %>
            <% end %>
          </p>
          <p class="categorypara"><%= article.category_i18n %></p>
          <%= link_to '詳細', article %>
        </div>
      <% end %>
    </div>
    <%= paginate @articles %>
  </div>
</div>
