<%= form_with model: @article,local: true do |f|%>
  <div class="form-group">
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title%>
  </div>
  <div class="form-group">
    <%= f.label :content,"本文" %>
    <%= f.text_area :content%>
  </div>
  <div class="radio-group">
    <%= f.label :category,"心" %>
    <%= f.radio_button :category, "心"%>
    <%= f.label :category,"技" %>
    <%= f.radio_button :category, "技"%>
    <%= f.label :category,"体" %>
    <%= f.radio_button :category, "体"%>
  </div>
  <%= f.submit '記事投稿'%>
<%end %>
