<h1>アカウント詳細設定</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :orien_started_at %>
    <%= f.date_select :orien_started_at, start_year: 1960, end_year: Time.now.year, discard_month: true, discard_day:true, include_blank: "選択して下さい" %>
  </div>
  <div class="form-group">
    <%= f.label :affilication %>
    <%= f.text_field :affilication %>
  </div>
  <div class="form-group">
    <%= f.label :university %>
    <%= f.text_field :university %>
  </div>
  <div class="form-group">
    <%= f.label :entered_university_at %>
    <%= f.date_select :entered_university_at, start_year: 1960, end_year: Time.now.year, discard_month: true, discard_day:true, include_blank: "選択して下さい" %>
  </div>
  <div class="form-group">
    <%= f.label :favorite_terrain %>
    <%= f.text_field :favorite_terrain %>
  </div>
  <div class="radio-group">
    <%= f.label :favorite_event %>
    <%= f.collection_radio_buttons :favorite_event, User.favorite_events, :first, :last %>
  </div>
  <div class="form-group">
    <%= f.label :achievement %>
    <%= f.text_field :achievement %>
  </div>
  <div class="form-group">
    <%= f.label :something_to_say %>
    <%= f.text_field :something_to_say %>
  </div>
  <%= f.submit '更新する' %>
<% end %>