<h1>アカウント詳細設定</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :first_name, "姓" %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "名" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :orien_started_at, "オリエン開始年月" %>
    <%= f.date_select :orien_started_at, start_year: 1960, end_year: Time.now.year, discard_month: true, discard_day:true, include_blank: "選択して下さい" %>
  </div>
  <div class="form-group">
    <%= f.label :affilication, "所属" %>
    <%= f.text_field :affilication %>
  </div>
  <div class="form-group">
    <%= f.label :university, "出身大学" %>
    <%= f.text_field :university %>
  </div>
  <div class="form-group">
    <%= f.label :entered_university_at, "大学入学年度" %>
    <%= f.date_select :entered_university_at, start_year: 1960, end_year: Time.now.year, discard_month: true, discard_day:true, include_blank: "選択して下さい" %>
  </div>
  <div class="form-group">
    <%= f.label :favorite_terrain, "好きなテレイン" %>
    <%= f.text_field :favorite_terrain %>
  </div>
  <div class="radio-group">
    <%= f.label :favorite_event %>
    <% User.favorite_events.each do |text, value| %>
      <div>
        <%= f.radio_button :favorite_event, text %>
        <%= f.label :favorite_event, text, value: value %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :achievement, "主な実績" %>
    <%= f.text_field :achievement %>
  </div>
  <div class="form-group">
    <%= f.label :something_to_say, "一言" %>
    <%= f.text_field :something_to_say %>
  </div>
  <%= f.submit '更新する' %>
<% end %>