<% if current_user&.current_user_or_not?(@user) %>
  <%= link_to 'アカウント設定', edit_user_path(session[:user_id]) %>
  <h1>マイプロフィール</h1>
<% end %>

 <h1><%= @user.first_name+'さんのプロフィール' %></h1>
<table>
  <tr>
    <td>姓</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>名</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>オリエン開始年</td>
    <td><%= @user.orien_started_at %></td>
  </tr>
  <tr>
    <td>所属</td>
    <td><%= @user.affilication %></td>
  </tr>
  <tr>
    <td>出身大学</td>
    <td><%= @user.university %></td>
  </tr>
  <tr>
    <td>大学入学年度</td>
    <td><%= @user.entered_university_at %></td>
  </tr>
  <tr>
    <td>好きなテレイン</td>
    <td><%= @user.favorite_terrain %></td>
  </tr>
  <tr>
    <td>好きな種目</td>
    <td><%= @user.favorite_event_i18n%></td>
  </tr>
  <tr>
    <td>主な実績</td>
    <td><%= @user.achievement %></td>
  </tr>
  <tr>
    <td>一言コメント</td>
    <td><%= @user.something_to_say %></td>
  </tr>
</table>

