<% if current_user.id == @user.id %>
  <%= link_to "アカウント設定", edit_user_path(session[:user_id]) %>
<% end %>

<table>
  <% @user_hash.each do |key, value| %>
    <% if value.class == Date %>
      <tr>
        <td><%= key %></td>
        <td><%= value.year %></td>
      </tr>
    <% else %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  <% end %>
</table>

