<h1>マイページ</h1>
<h2>記事一覧</h2>

<%= button_to "全ての記事を表示", user_mypages_path(current_user), method: :get %>
<%= button_to t('enums.article.status.published')+"記事のみ表示", { controller: :mypages, action: :show }, params: { status: 'published' }, method: :get %>
<%= button_to t('enums.article.status.draft')+"記事のみ表示", { controller: :mypages, action: :show }, params: { status: 'draft' }, method: :get %>

<table>
  <tr>
    <th><%= t('article.title') %> </th>
    <th><%= t('user.first_name') %></th>
    <th><%= t('article.content') %></th>
    <th><%= t('article.category') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th>コメント</th>
  </tr>

<%= render partial: 'article', collection: @articles %>
</table>
