<%= form_with model: @article,　local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="container d-md-flex my-4" id="article-form-container">
    <div class="container category-select col-md-2 mt-2 mx-0">
      <p>カテゴリーを選択してください。</p>
      <div class='radio-group' id='category'>
        <%= f.collection_radio_buttons :category, Article.categories.keys.map {|k| [I18n.t("enums.article.category.#{k}"), k]}, :last, :first %>
      </div>
      <div class="mx-3">
        <div class='radio-group' id='tech_category'>
          <%= f.collection_radio_buttons :tech_category, Article.tech_categories.keys.map {|k| [I18n.t("enums.article.tech_category.#{k}"), k]}, :last, :first %>
        </div>
      </div>
    </div>
    <div class="container content-form col-md-7 mx-0">
      <div class='form-group'>
        <p class='mb-0'><%= f.label :title, class: "title-label"%></p>
        <%= f.text_field :title, placeholder:"タイトルを入力", class: "title-textbox" %>
      </div>
      <div class='form-group'>
        <p class='mb-0 mt-4'><%= f.label :content, '本文', class: "content-label" %></p>
        <%= f.text_area :content, placeholder:"本文を入力", rows: 20, class: "width-100 content-textbox", id: "textarea" %>
      </div>
    </div>
    <div class='container submit-btn col-md-2 d-flex align-items-end'>
      <div class='d-flex justify-content-end selectbox_group me-3'>
        <%= f.collection_select :status, Article.statuses.keys.map {|k| [I18n.t("enums.article.status.#{k}"), k]}, :last, :first, class: "select-wrapper" %>
      </div>
      <div class='d-flex justify-content-end'>
        <%= f.submit "送信", class: 'btn btn-success'%>
      </div>
    </div>
  </div>
<% end %>
  
  
  
