<%= form_with model: @article,　local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class='form-group'>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>
  <div class='form-group'>
    <%= f.label :content, '本文' %>
    <%= f.text_area :content %>
  </div>
  <div class='radio-group' id='category'>
    <%= f.label :category %>
    <%= f.collection_radio_buttons :category, Article.categories.keys.map {|k| [I18n.t("enums.article.category.#{k}"), k]}, :last, :first %>
  </div>
  <div class='radio-group' id='tech_category'>
    <%= f.label :tech_category %>
    <%= f.collection_radio_buttons :tech_category, Article.tech_categories.keys.map {|k| [I18n.t("enums.article.tech_category.#{k}"), k]}, :last, :first %>
  </div>
  <div class='selectbox_group'>
    <%= f.label :status %>
    <%= f.collection_select :status, Article.statuses.keys.map {|k| [I18n.t("enums.article.status.#{k}"), k]}, :last, :first %>
  </div>
  <%= f.submit %>
<% end %>

